.quote blockquote {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 900px;
}

@media (width >= 900px) {
  .quote blockquote {
    padding: 0 32px;
  }
}

.quote blockquote .quote-quotation {
  font-size: 120%;
  font-family: "Georgia", "Times New Roman", serif;
}

.quote blockquote .quote-quotation > :first-child {
  text-indent: -0.5ch;
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation > :first-child::before {
  content: "“";
}

.quote blockquote .quote-quotation > :last-child::after {
  content: "”";
}

.quote blockquote .quote-attribution {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  color: #7a7a7a;
}

.quote blockquote .quote-attribution > :first-child::before {
  content: "—";
  padding-right: 0.5ch;
}
